.interactive-buttons {
    display: flex;
}

.btn-action {
    align-items: flex-end;
    background: transparent;
    border: 1px solid #1461F8;
    border-radius: 4px;
    color: #1461F8;
    font: 14px/20px "Segoe UI SemiBold", segoe_ui_semibold, Tahoma, Arial;
    outline: none;
    text-align: center;
}

.btn-action:hover {
    background: rgba(20, 97, 248, 0.25);
}

.btn[aria-expanded="true"] {
    background: rgba(20, 97, 248, .15);
    color: #1461F8;
}

.btn-img {
    margin: -3.5px 8px 0 0;
}

#display-btn {
    margin: 16px;
}

#capture-btn {
    margin: 16px 16px 16px 0;
}

.showcase-radio-container {
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding-bottom: 16px;
    position: relative;
}

.showcase-radio-container:nth-child(1) {
    cursor: default;
    height: 30px;
    margin: 0 24px;
}

.showcase-radio-container input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.showcase-radio-checkmark {
    visibility: hidden;
}

.showcase-radio-container input:checked~.showcase-radio-checkmark {
    border-color: #3E65FF;
}

.showcase-radio-checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.showcase-radio-container input:checked~.showcase-radio-checkmark:after {
    display: block;
}

.showcase-radio-container .showcase-radio-checkmark:after {
    background: #3E65FF;
    border-radius: 50%;
    height: 8px;
    left: 3px;
    top: 3px;
    width: 8px;
}

.radio-title {
    display: block;
    margin: 0 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#close-btn {
    background: transparent;
    border: 0;
    float: right;
    margin-right: -25px;
    outline: none;
}

#close-list-btn {
    margin: -2px -5px 0 0;
    padding: 15px;
}

#bookmarks-list {
    background: #FFF;
    box-shadow: 0 1.2px 3.6px rgba(0, 0, 0, .108), 0 6.4px 14.4px rgba(90, 61, 61, .132);
    display: none;
    height: calc(100vh - 100px);
    margin: 0 0 0 5px;
    opacity: .98;
    position: fixed;
    width: 228px;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    pointer-events: none;
    width: 100%;
}

#tick-icon {
    display: none;
    margin-top: -4px;
}

.vertical-align-center {
    display: table-cell;
    pointer-events: none;
    vertical-align: middle;
}

.modal-content {
    box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18), 0 25.6px 57.6px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    height: 303px;
    margin: 0 auto;
    max-width: inherit;
    pointer-events: all;
    width: inherit;
}

.modal-body {
    display: flex;
    padding: 0;
    position: relative;
}

.btn-modal {
    background: transparent;
    border: none;
    border-bottom: .5px solid rgba(0, 0, 0, .2);
    color: #8A8886;
    font: 400 14px "Segoe UI", segoe_ui_regular, Tahoma, Arial;
    outline: none;
    text-align: center;
    width: 50%;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
    box-shadow: none;
    color: #1461F8;
    outline: 0;
    outline-offset: -2px;
    text-decoration: none;
}

.btn:focus{
    background: rgba(20, 97, 248, 0.25);
}

.btn-active {
    border-bottom: 2px solid #1461F8;
    color: #1A1A1A;
    font-weight: 600;
}

.modal-title {
    font: 16px "Segoe UI SemiBold", segoe_ui_semibold, Tahoma, Arial;
}

#close-modal-btn {
    border: none;
    opacity: 1;
    outline: none;
}

#btn-cross {
    margin: 15px;
}

#capture-view-div {
    display: none;
}

.btn-links {
    padding: 0 0 8px 0;
}

.btn-links:focus {
    outline: none;
}

#save-btn-div {
    margin-top: 28px;
    text-align: center;
}

.capture-btn-div {
    text-align: center;
}

#save-bookmark-btn {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #1461F8;
    color: #1461F8;
    font-weight: 600;
    margin: 5px 20px 0 5px;
    outline: none;
    padding: 6px 16px;
}

#save-bookmark-btn:hover {
    background: #1461F8;
    color: #FFF;
}

#copy-btn {
    outline: none;
    margin: 5px 20px 0 5px;
}

#copy-link-text {
    border: .5px solid rgba(0, 0, 0, .2);
}

#hidden-success {
    color: #1461F8;
    font: 12px "Segoe UI SemiBold", segoe_ui_semibold, Tahoma, Arial;
    margin-top: 11px;
}

.visible {
    visibility: visible;
}

.div-hidden {
    visibility: hidden;
}

input[type="text"] {
    background: transparent;
    height: 32px;
    margin-top: 15px;
    outline: 0;
    width: 95%;
}

input[type="text"]:invalid {
    box-shadow: none;
}

.form-control {
    border: 0;
    border-bottom: .5px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    padding: 0;
}

.copy-bookmark {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #1461F8;
    color: #1461F8;
    font-weight: 600;
    margin: 0 20px;
    padding: 6px 16px;
}

.copy-bookmark:hover {
    background: #1461F8;
    color: #FFF;
}

.modal-header {
    border: none;
    font: 16px "Segoe UI SemiBold", segoe_ui_semibold, Tahoma, Arial;
    margin: -15px 0 30px 25px;
    padding: 0;
    width: 80%;
}

.invalid-feedback{
    margin-bottom: -21px;
    margin-top: 5px;
}

.inactive-bookmark {
    color: #323130;
    font: 400 14px/20px "Segoe UI", segoe_ui_regular, Tahoma, Arial;
}

#content-div {
    color: #201F1E;
    font: 400 14px "Segoe UI", segoe_ui_regular, Tahoma, Arial;
    margin: 30px 0 40px 24px;
}

.active-bookmark {
    color: #1461F8;
    font: 14px/20px "Segoe UI SemiBold", segoe_ui_semibold, Tahoma, Arial;
}

.blue-background {
    background: rgba(20, 97, 248, .15);
    border-radius: 4px;
    border: 1px solid rgba(20, 96, 247, .5);
    font-weight: 600;
    margin: 0 20px;
    outline: none;
    padding: 6px 16px;
}